<?xml version="1.0" encoding="utf-8"?>
<!-- Restart trigger: 2026-06-17T12:44:00Z -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCountPerApplication="1" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
